################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.vs/
/.vs/Trool.io
/Orleankka/bin/Debug/netstandard2.0
/Orleankka/obj
/Orleankka.Runtime/bin/Debug/netstandard2.0
/Orleankka.Runtime/obj/Debug/netstandard2.0
/Orleankka.Runtime/obj
/Silo/bin/Debug/netcoreapp3.0
/Silo/obj
/Core/bin/Debug/netcoreapp3.0
/Core/obj
/Domain/bin/Debug/netcoreapp3.0
/Domain/obj
/Silo/inventory.db
/Domain/inventory.db
/Silo/inventory.db-wal
/Silo/inventory.db-shm
/API/bin/Debug/netcoreapp3.0
/API/obj
/Diagram/bin/Debug/netcoreapp3.0
obj
bin
packages
API/inventory.db
/Sample/Silo/inventory*
logs
reports
log